<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы валют</title>
</head>
<body>
    {% for currency in data_rates %}
        <p>
            {{ currency.currency.char_code }}
            {{ currency.currency.name }}
            Дата - {{ currency.date }}
            Курс - {{ currency.value }}
        </p>
    {% endfor %}
</body>
</html>